{% if first_run %}
output "vpn_instance_info" {
  value = module.vpn_instance.instance_info
}
{% endif %}

{% for instance in instances %}
output "instance_{{ global_prefix }}_{{ unique_lab_name }}_{{ instance.name }}_output_dns" {
  value = {
    fixed_ipv4 = module.instance_{{ unique_lab_name }}_{{ instance.name }}.instance_ipv4_addresses
    name = module.instance_{{ unique_lab_name }}_{{ instance.name }}.instance_info.name
  }
}

output "instance_{{ unique_lab_name }}_{{ instance.name }}_output_ansible" {
  value = {
    ipv4 = module.instance_{{ unique_lab_name }}_{{ instance.name }}.instance_ipv4_addresses[0]
    user = "{{ instance.user }}"
    password = "{{ instance.password }}"
    type = "{{ instance.type }}"
    post = "{{ instance.post }}"
  }
}

{% if instance.type == "dns-server" or instance.type == "dns" %}
output "dns_server_{{ unique_lab_name }}_{{ instance.name }}" {
  value = {
    fixed_ipv4 = module.instance_{{ unique_lab_name }}_{{ instance.name }}.instance_ipv4_addresses
  }
}
{% endif %}

{% endfor %}

{% if first_run %}
{% for instance in global_instances %}
{% if instance.type != "vpn-server" %}
output "global_instance_{{ global_prefix }}_{{ instance.name }}_output_dns" {
  value = module.global_instance_{{ instance.name }}.instance_info
}

output "global_instance_{{ instance.name }}_output_ansible" {
  value = {
    ipv4 = module.global_instance_{{ instance.name }}.gateway_ipv4_addresses[0]
    user = "{{ instance.user }}"
    password = "{{ instance.password }}"
    type = "{{ instance.type }}"
    post = "{{ instance.post }}"
  }
}

{% if instance.type == "dns-server" or instance.type == "dns" %}
output "dns_server_{{ instance.name }}" {
  value = {
    fixed_ipv4 = module.global_instance_{{ instance.name }}.gateway_ipv4_addresses
  }
}
{% endif %}

{% endif %}
{% endfor %}
{% endif %}
